body {
    background-color: #f8f9fa;
}

.navbar-brand {
    font-size: 1.5rem;
    color: black !important;
}


.container {
    margin-top: 20px;
}

d {
    font-size: 1.6rem;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

