{% extends "base.html" %}

{% block content %}
    <h2 class="my-4">Введите пароль для вставки {{ paste_id }}</h2>
    <form action="{{ url_for('paste', paste_id=paste_id) }}" method="post">
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Введите пароль" required>
        </div>
        <button type="submit" class="btn btn-primary">Подтвердить</button>
    </form>
    <a href="{{ url_for('index') }}" class="btn btn-secondary mt-3">Вернуться ко Всем Вставкам</a>
{% endblock %}
