{% extends "base.html" %}

{% block content %}
    <h2 class="my-4">Введите пароль для вставки {{ paste_code }}</h2>
    {% if password_incorrect %}
        <div class="alert alert-danger" role="alert">
            Неверный пароль!
        </div>
    {% endif %}
    <form action="{{ url_for('paste', paste_code=paste_code) }}" method="post">
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Введите пароль" required>
        </div>
        <button type="submit" class="btn btn-main">Подтвердить</button>  <!-- Changed class to btn-main -->
    </form>
    <a href="{{ url_for('index') }}" class="btn btn-dark-gray mt-3">Вернуться ко Всем Вставкам</a>
{% endblock %}